<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blog</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <main>
        <h1 class="page-title">Create Blog</h1>
        <form class="update_form" action="/create" method="post">
            <label>Title</label>
            <input class="update_item_area" type="text" name="title" placeholder="Enter blog title" required>

            <label>Author</label>
            <input class="update_item_area" type="text" name="author" placeholder="Enter blog author" required>

            <label>Content</label>
            <textarea class="update_content_area" name="content" placeholder="Write your content" required></textarea>

            <div class="update_button">
                <button type="button" onclick="window.location.href='/'">Cancel</button>
                <button type="submit">Create Blog</button>
            </div>
        </form>
    </main>
    <%- include("partials/footer.ejs") %>
</body>
</html>